<div id="brokerage-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="brokerage-form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">brokerage Name <span class="text-red">*</span></label>
                            <input type="text" id="brokerage-name" class="form-control" placeholder="Enter brokerage name here...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">brokerage Url <span class="text-red">*</span></label>
                            <input type="text" id="brokerage-url" class="form-control" placeholder="Enter brokerage url here...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal"><span><i
                            class="fa fa-close"></i></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary"><span><i class="fa fa-check"></i></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>