
<div id="reset-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="reset-form">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <strong>Recheck all Leads for this Spreadsheet</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span><i
                            class="fa fa-close"></i></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-danger"><span><i class="fa fa-check"></i></span> Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="reset-partial-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="reset-partial-form">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <strong>Recheck all Leads without phone for this Spreadsheet</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span><i
                            class="fa fa-close"></i></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-danger"><span><i class="fa fa-check"></i></span> Reset Partial
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delete-form">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span><i
                            class="fa fa-close"></i></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-danger"><span><i class="fa fa-check"></i></span> Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="delete-selected-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delete-selected-form">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span><i
                            class="fa fa-close"></i></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-danger"><span><i class="fa fa-check"></i></span> Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>