{% extends 'components/base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div>
            <h1 class="page-title">Users</h1>
        </div>
    </div>
    <!-- PAGE-HEADER END -->

    <!-- Row -->
    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Users</h3>
                    <span id="count_items" class="badge bg-primary me-1 mb-1 mt-1 mx-3"></span>
                    <div class="card-options">
                        <div class="btn-list">
                            <button class="users-action-btn btn btn-primary btn-icon text-white me-2 btn-group" data-value="new">
                                <span><i class="fe fe-plus"></i></span> New User
                            </button>
                            <button id="delete_selected_btn" class="btn btn-danger btn-icon text-white me-2 btn-group disabled"><span><i class="fe fe-trash-2"></i></span>
                                Delete Selected
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive export-table">
                        <table id="base_datatable" class="table border-bottom text-nowrap text-md-nowrap table-hover table-bordered mg-b-0 w-100"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block modal %}
    {% include 'modal/delete-modal.html' %}
    {% include 'modal/users-modal.html' %}
{% endblock modal %}

{% block scripts %}
    <script src="{% static '' %}assets/app-js/users/action-users.js"></script>
    <script src="{% static '' %}assets/app-js/users/init-users.js"></script>
{% endblock scripts %}
